<app-intro
    class="content"
    *ngIf="
        (addInitComponentData({ name: 'app-intro', isShow: true }) | async)?.[
            'app-intro'
        ]
    "
></app-intro>
<app-text-for-typing
    class="content"
    *ngIf="
        (addInitComponentData({ name: 'app-text-for-typing', isShow: false })
            | async)?.['app-text-for-typing']
    "
></app-text-for-typing>
<app-result
    *ngIf="
        (addInitComponentData({ name: 'app-result', isShow: false }) | async)?.[
            'app-result'
        ]
    "
></app-result>
