<header class="header">
    <app-gear class="gear"></app-gear>
</header>

<app-text class="main"></app-text>
<footer class="footer">
    <div><a [href]="sourceTextsUrl">Источник текстов</a></div>
</footer>

<mat-spinner
    class="loading"
    *ngIf="loadingService.isLoading$ | async"
></mat-spinner>

<ng-template #intro
    ><div *ngIf="isStartIntro">Кликните, чтобы начать</div></ng-template
>

<ng-template #textForTyping
    ><div *ngIf="isStartTypingText">
        {{ this.textService.texts$ | async }}
        <!-- заюзать директиву for чтобы по буквам составить текст -->
        <!-- написать сервис для текстов -->
    </div>
</ng-template>
