<header class="header">
    <app-gear class="gear"></app-gear>
</header>

<main
    class="main"
    (click)="onClick()"
>
    <mat-spinner
        class="loading"
        *ngIf="isLoading$ | async"
    ></mat-spinner>
    <!-- <app-text [template]="isStart ? textForTyping : intro"></app-text> -->
    <app-text></app-text>
</main>

<footer class="footer">
    <div><a [href]="sourceTextsUrl">Источник текстов</a></div>
</footer>

<ng-template #intro
    ><div *ngIf="isStartIntro">Кликните, чтобы начать</div></ng-template
>

<ng-template #textForTyping
    ><div *ngIf="isStartTypingText">
        {{ text }}
        <!-- заюзать директиву for чтобы по буквам составить текст -->
        <!-- написать сервис для текстов -->
    </div>
</ng-template>
