<header class="header">
    <app-gear class="gear"></app-gear>
</header>

<main
    class="main"
    (click)="onClick()"
>
    <app-text [template]="isStart ? textForTyping : intro"></app-text>
</main>

<footer class="footer">
    <div><a [href]="textsUrl">Источник текстов</a></div>
</footer>

<ng-template #intro>Кликните, чтобы начать</ng-template>

<ng-template #textForTyping>
    <!-- заюзать директиву for чтобы по буквам составить текст -->
    <!-- написать сервис для текстов -->
</ng-template>
